<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>ps_llms_generator</name>
  <displayName><![CDATA[PrestaShop LLMS Generator]]></displayName>
  <version><![CDATA[2.0.1]]></version>
  <description><![CDATA[Generates /llms.txt so AI assistants can discover your CMS pages, categories and products.]]></description>
  <author><![CDATA[ADLX]]></author>
  <tab><![CDATA[seo]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
